{% extends 'base.html.twig' %}
{% block title %}Team Tode{% endblock %}

{% block body %}

<div class="back">

    <div class="view">

        <h1 class="title">Bienvenue sur le site officiel de la Team Tode !</h1>
        <p class="texte">retrouve ici toutes les infos sur nos jeux et <a class="ticket_link" href="{{ path('app_ticket') }}">donne nous ton avis</a> !</p>

    </div>

</div>
{% endblock %}
