{% extends 'base.html.twig' %}
{% block title %}Team Tode{% endblock %}

{% block body %}

<div class="back">

    <div class="view">

        <h1 class="title">Bienvenue sur le site officiel de la Team Tode !</h1>

    </div>

</div>
{% endblock %}
