
{% block body %}

<div>

    {% for annonce in annonces  %}
        {% include 'annonce.html.twig' with [annonce] %}
    {% endfor %}
    {{ knp_pagination_render(annonces) }}

</div>

{% endblock %}
