{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}


{% block body %}

<div>

    {% for annonce in annonces  %}
        {% include 'annonce.html.twig' with [annonce] %}
    {% endfor %}

</div>

{% endblock %}
