{% block stylesheets %}  
    <link rel="stylesheet" type="text/css" href="{{ asset('css/description.css') }}" /> 
{% endblock %}

{% block body %}

<div class="contenu">
    <p class="subtitle">- Rogue-Like Multijoueur -</p>
    <p class="subtitle">(GOTY 2040)</p>
    <p class="text">Empêche la fin du monde en grimpant la tour de l'infini et met fin aux plans macabres de #?=§&}+(\~%</p>

    <p class="dl">Téléchargement -> y a pas de jeu encore</p>

</div>

{% endblock %}
