{% extends 'base.html.twig' %}

{% block title %}TIMTODE{% endblock %}

{% block body %}

<div class="back">

    <div class="view">
        <h1 class="title" style="text-align: center;">TIMTODE</h1>

        <div class="row" style="text-align: center;">

            <div class="col-sm-12 col-md-6">
                <button id="btnAnnonce" onClick="onClickAnnonce()">Annonces</button>
            </div>

            <div class="col-sm-12 col-md-6">
                <button id="btnDescription" onClick="onClickDescription()">Description</button>
            </div>
            
        </div>

        <div id="annonceDiv">
            {% include 'annonces.html.twig' %}
        </div>

        <div id="descriptionDiv">
            {% include 'timtode/description.html.twig' %}
        </div>


        <script>
            
            var annonceDiv = document.getElementById("annonceDiv");
            var annonce = true;
            annonceDiv.style.display = "block";

            var descriptionDiv = document.getElementById("descriptionDiv");
            var description = false;
            descriptionDiv.style.display = "none";
            
            function onClickAnnonce() {
                if (description) {
                    description = !description;
                    annonce = !annonce;

                    annonceDiv.style.display = "block";
                    descriptionDiv.style.display = "none";
                }
            }

            function onClickDescription() {
                if (annonce) {
                    annonce = !annonce;
                    description = !description;
                    descriptionDiv.style.display = "block";
                    annonceDiv.style.display = "none";
                }
            }

        </script>
    </div>

</div>
{% endblock %}
