{% extends 'base.html.twig' %}

{% block title %}TIMTODE{% endblock %}

{% block stylesheets %}  
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page.css') }}" /> 
{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}

<div class="back">

    <div class="page">
        <h1 class="title" style="text-align: center;">TIMTODE</h1>

        <div class="row" style="text-align: center;">
            <div class="col-sm-12 col-md-6">
                <btn id="btnAnnonce" onClick="onClickAnnonce()">Annonces</btn>
            </div>
            <div class="col-sm-12 col-md-6">
                <btn id="btnPatch" onClick="onClickPatch()">Patch</btn>
            </div>
        </div>


        <div id="annonceDiv">
            {% include 'annonces.html.twig' %}
        </div>

        <div id="patchDiv">
            {% include 'patchs.html.twig' %}
        </div>


        <script>
            
            var annonceDiv = document.getElementById("annonceDiv");
            var annonce = true;
            annonceDiv.style.display = "block";

            var patchDiv = document.getElementById("patchDiv");
            var patch = false;
            patchDiv.style.display = "none";
            
            function onClickAnnonce() {
                if (patch) {
                    patch = !patch;
                    annonce = !annonce;
                    annonceDiv.style.display = "block";
                    patchDiv.style.display = "none";
                }
            }

            function onClickPatch() {
                if (annonce) {
                    annonce = !annonce;
                    patch = !patch;
                    patchDiv.style.display = "block";
                    annonceDiv.style.display = "none";
                }
            }

        </script>
    </div>

</div>
{% endblock %}
